*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/* Game board styling */

.boardContainer {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

/* Individual cells for placing X's and O's on board */

.cell {
  font-size: 4rem;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-weight: bold;
  color: goldenrod;
  border: 1px solid goldenrod;
  cursor: pointer;
}

/* Hides winning message by default*/
.declareWinner {
  display: none;
  position: absolute;
  left: 45%;
  top: 18%;
  font-size: 3rem;
}

/*Button styling*/
.restartButton {
  padding-top: 25px;
}

.restartButton button {
  font-size: 3rem;
  padding: 0.25em 0.25em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.restartButton button:hover {
  background-color: goldenrod;
}

/*Class for unhiding the winning message */
.declareWinner.active {
  display: flex;
}
